body,
input,
textarea,
select,
button {
    color: $white;
    font-family: 'Open Sans', Arial, Helvetica, Geneva, sans-serif;
    font-size: $font-size;
    font-kerning: normal;
    line-height: $line-height;
}

body {
    background: $dark-2;
    margin: 0;
    padding-top: 71px;
}

* {
    box-sizing: border-box;
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    margin: 0;
}