<header class="page-header page-header--fixed">

	<div class="site-width">
		<a href="#index" class="logo--link">
			<img src="assets/img/logo.svg" class="logo" alt="logo">
		</a>
		<h1 class="page-header__heading epsilon">Admin</h1>
		<a href="#index" class="btn btn--secondary page-header__btn">Back</a>
	</div>

</header>

<main class="main-content">
	
	<div class="btns-large btns-large--three">
		<div class="btns-large__col">
			<a href="#editusers" class="btn btn--primary delta">Edit Users</a>
		</div>
		<div class="btns-large__col">
			<a href="#settings" class="btn btn--primary delta">Settings</a>
		</div>
		<div class="btns-large__col">
			<a href="#changepassword" class="btn btn--primary delta">Change Password</a>
		</div>
	</div>
	<a href="" ng-click="adminLogout()" class="btn btn--secondary page-header__btn">Logout</a>
</main>
