<header class="page-header page-header--fixed">

	<div class="site-width">
		<a href="#index" class="logo--link">
			<img src="assets/img/ridgeway-logo.svg" class="logo" alt="Ridgeway">
		</a>
		<h1 class="page-header__heading epsilon">Change Password</h1>
		<a href="#admin" class="btn btn--secondary page-header__btn">Back</a>
	</div>

</header>

<main class="main-content">

	<div class="message message--error" ng-show="error">
		<p>One or more fields did not have the correct information. Please try again.</p>
	</div>

	<div class="message message--success" ng-show="success">
		<p>You have successfully changed your password.</p>
	</div>
	
	<form name="" ng-submit="changePassword()">
		<div class="form__field form__field--wide">
			<label for="current-password" class="label">Current Password</label>
			<input type="password" class="input input--password" id="current-password" ng-model="currentPassword">
		</div>

		<div class="form__field form__field--wide">
			<label for="new-password" class="label">New Password</label>
			<input type="password" class="input input--password" id="new-password" ng-model="newPassword">
		</div>

		<div class="form__field form__field--wide">
			<label for="confirm-password" class="label">Confirm New Password</label>
			<input type="password" class="input input--password" id="confirm-password" ng-model="confirmPassword">
		</div>

		<button type="submit" class="btn btn--primary">Change Password</button>
	</form>
	
</main>
