<div ng-init="getUsers()">
	<header class="page-header page-header--fixed">
		<div class="site-width">
			<a href="index.html" class="logo--link">
				<img src="assets/img/logo.svg" class="logo" alt="logo">
			</a>
		</div>
	</header>

	<main class="main-content">
		
		<div class="btns-large btns-large--two">
			<div class="btns-large__col">
				<a href="#staff" class="btn btn--primary alpha">
					Staff <span class="btns-large__small-text">Sign In/Out</span>
				</a>
			</div>
			<div class="btns-large__col">
				<a href="#visitor" class="btn btn--primary alpha">
					Visitor <span class="btns-large__small-text">Sign In/Out</span>
				</a>
			</div>
		</div>

		<a href="#list" class="btn btn--secondary btn--large">Show Full List</a>
		<a href="#login" class="btn btn--secondary btn--large">Admin Area</a>
		
	</main>
</div>
